# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# IDE / Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker
.docker/

# Rust (Future-proofing for your backend)
/target
Cargo.lock
**/*.rs.bk

# OS Files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*